<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gamebaaz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GameApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gamebaaz">
        <activity
            android:name=".view.login.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.Gamebaaz.NoActionBar"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Gamebaaz.NoActionBar"/>
    </application>

</manifest>